biopython @ file:///tmp/build/80754af9/biopython_1632748419437/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///croot/cryptography_1694444244250/work
easyterm @ file:///home/mmariotti/mambaforge/conda-bld/easyterm_1683542336491/work
ete3 @ file:///home/conda/feedstock_root/build_artifacts/ete3_1688510053282/work
idna @ file:///croot/idna_1666125576474/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1695546708845/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ncbi-db @ file:///home/mmariotti/miniconda3/conda-bld/ncbi_db_1682175784708/work
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp39-cp39-linux_x86_64.whl#sha256=6c17acd1e1c4a5ebb5d14a2b7abe3d296469c0dd858a8b623abc1f4603184a9d
obonet @ file:///opt/conda/conda-bld/obonet_1678441414969/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
ply==3.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
requests @ file:///croot/requests_1690400202158/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1696467636616/work/dist/scipy-1.11.3-cp39-cp39-linux_x86_64.whl#sha256=a6aac64ea98b312a6fc4eb9b64913750b470af13ea37187c2f28d685ab103fde
selenoprofiles4 @ file:///home/mmariotti/mambaforge/conda-bld/selenoprofiles4_1695287678363/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300422453/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
urllib3 @ file:///croot/urllib3_1686163155763/work
